@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>FreeTime</p>
    <a asp-controller="Users" asp-action="Register">Register</a>
    <a asp-controller="Users" asp-action="Login">Login</a>
</div>
